@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    background-color: #F8F7F3;
    color: #191919;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 5%;
    font-size: calc(12px + .5vw);
}
@media screen and (min-width: 480px) {
    body {
        max-width: 720px;
    }
}
